a {
    text-decoration: none;
}

.etsy-logo {
    width: 80px;
    height: 40px;
}

.nav-left-part {
    display: flex;
    align-items: center;
}

.nav-middle-part {
    display: flex;
    align-items: center;
}

.nav-right-part {
    display: flex;
    align-items: center;
}

.categories-text {
    font-size: 13px;
    font-family: "GuardianEgyp-Regular";
    padding-left: 5;
}

.Humbergur-menu-box {
    display: flex;
}

.Humbergur-menu {
    width: 18px;
    height: 18px;
}

.nav-bar {
    height: 105px;
}

.categories-button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    padding: 9 15 9 15;
}

.top-nav {
    height: 48px;
    display: flex;
}

.search-input {
    margin: 0;
    border-style: solid;
    width: 50%;
    height: 48px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 24px 24px 24px 24px;
    padding-left: 18px;
    min-width: 400px;
}