img {
    object-fit: cover;
}

.position-absolute{
    position: absolute;
}

.hero-content-container {
    padding-right: 30px;
    flex-basis: 40%;
}
.pos-relative {
    position: relative;
}
.dashed-underline {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
}

.hero-content {
    width: 100%;
    background-color: #f19d27 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
}
.hero-shop-now-b {
    position: absolute;
    bottom: 12px;
    box-sizing: border-box;
    display: block;
    height: 48px;
    left: 40%;
    margin: 0;
    min-height: 48px;
    min-width: 48px;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 24px;
    background-color: #222222;
    color: white;
}
.hero-content-text {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content-text p {
    margin: 0;
    padding-top: 10px;
    font-size: .8rem;
}
.hero-content-text .hero-discount-text {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.hero-content-text .hero-title {
    font-family: "GuardianEgyp-Thin", serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 53px;
    font-weight: bold;
}
.shop-hero {
    display: flex;
}
.shop-hero-container {
    display: flex;
    margin: 24px auto 0;

    padding: 0 36px;
}
/*.arc {
    background-color: #f4a62a; !* Orange background *!
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    z-index: 1;
}*/
.hero-gid-container {
    display: flex;
    gap: 30px;
    flex-basis: 59%;
}
.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}
.hero-grid-first-images {
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}
.hero-grid-first-images .hero-first-text {
    position: absolute;
    bottom: 0;
    padding: 0 18px 18px;
}
.hero-grid-first-images div p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    text-wrap: wrap;
    width: 70%;
}
.hero-grid-first-images div span {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.gradient-background {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}
.hero-grid-first-images::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
}
.hero-grid-images {
    width: 100%;
    border-radius: 0 0 12px 12px;
    height: 100%;
}
.hero-first-img {
    width: 100%;
    clip-path: circle(farthest-side at 50% 100%);
    border-radius: 12px;
}
.default-gap {
    height: 90px;
    background-color: transparent;
}
.featured-section-max-width {
    margin: 0 auto 90px;
    padding: 0 36px;
}
.featured-section-max-width h4 {
    font-size: 27px;
    font-weight: 500;
    margin: 0;
}
.featured-items-list p{
    font-size: 16px;
    margin: 0;
}
.featured-items-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 18px;
    width: 100%;
}
.featured-items-list li {
    list-style: none;
    width: calc(16.6667% - 25px);
}
.featured-item-img{
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}
.featured-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.featured-item-img img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.editors-choice-max-width {
    margin: 0 auto;
    padding: 0 27px;
}
.editors-choice-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.editors-text {
    padding-left: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
}
.editors-pics-text {
    color: #595959;
    font-size: 16px;

}
.primary-editors-text {
    margin: 0 6px;
    font-size: 27px;
    font-weight: 500;
}
.editors-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    padding-bottom: 24px
}
.shop-unique-button {
    background: #e9e9e9;
    padding: 12px 18px;
    font-size: 16px;
    width: fit-content;
    border-radius: 24px;
    line-height: 1.5;
}
.editors-text .primary-editors-text, .editors-text p {
    padding-right: 42%;
    margin: 0;
}

.ep-image-inner {
    padding: 9px;
    position: relative;
}
.ep-image-inner img:hover {
    transform: scale(1.1);
}
.ep-image-inner img {
    border-radius: 8px;
    transition: transform 0.3s;
    width: 100%;
}

.ep-image-inner .price-higher {
    opacity: 0;
    transition: transform .2s, opacity .2s;
}

.hover-fav {
    right: 25px;
    top: 25px;
}
.favorite-button-icon-container {
    display: flex;
}
.favorite-icon{
    width: 18px;
    height: 18px;
}
.ep-image-inner:hover > .price-higher {
    opacity: 1;
    transform: translateY(-8px);
}
.ep-image-inner:hover > .hover-fav button{
    opacity: 1;
    transform: translateX(0px);
}
.hover-fav button {
    padding: 6px;
    border: rgb(236, 236, 236) 1px solid;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .3s, transform .3s;
}

.video-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.video-play-button svg{
    width: 12px;
    margin-left: 2px;
}

.ep-image-inner:hover > .video-play-button{
    opacity: 0;
}


.ep-video-hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}
.ep-image-inner:hover .ep-video-hidden {
    display: block;
}


.editors-choice-image-container {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
}

.discover-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discover-popular-text-container {
    text-align: center;
    padding-bottom: 24px;
}

.discover-popular-content-c{
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 20px 0;
}

.discover-popular-content {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    width: 100%;
}
.discover-popular-content li{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 160px;
}

.popular-links-c .deals-card-shadow{
    transform: scale(90%);
}
.popular-links-c {
    position: relative;
}
/*.popular-links-c{*/
/*    transition: box-shadow .3s ease-in-out;*/
/*}*/
/*.popular-links-c:hover {*/
/*    padding: 10px;*/
/*    margin: -10px -10px -10px -10px;*/
/*    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);*/
/*    border-radius: 12px;*/
/*    height: fit-content;*/
/*}*/
.discover-image {
    width: 160px;
}
.discover-image img{
    border-radius: 100%;
    width: 100%;
}
.discover-image-title {
    display: flex;
    justify-content: center;
    tab-size: 16px;
}
.discover-title-text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: .08px;
}
.deals-container {
    padding: 0 36px;
}
.deals-title-and-buttons {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.wt-icon {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 24px;
    margin: 0;
    width: 24px;
}
.gray-scroll-arrow {
    fill: gray;
}
.wt-btn {
    position: relative;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    margin: 0 0 0 6px;
    min-height: 48px;
    min-width: 48px;
    padding: 12px;
    width: 48px;

    border-radius: 24px;
    border: none;

    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 30%);
}
.wt-text-truncate{
    font-size: 11px;
    margin: 0;
}
.wt-badge {
    padding: 3px 6px;
    background-color: #a0e193;
    border-radius: 12px;
}
.promotion-badge {
    margin-bottom: 3px;
    padding-top: 4px;
    line-height: 17px;
}
.deals-content-container {
    margin-left: -12px;
    overflow: hidden;
}
.deals-content {
    margin: -9px;
    padding: 15px 0 15px 18px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.pop-up {
    position: relative;
    display: block;
    border-radius: 12px;
}

.deals-card {
    margin-bottom: 12px;
    padding: 9px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.deals-card-image {
    margin-bottom: 6px;
}
.deals-card-image img {
    width: 15rem;
    border-radius: 12px;
}
.deal-card-info {
    width: 15rem;
}
.deal-card-info h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #333;
}
.inline-text {
    display: inline-block;
    margin: 0;
}
.small-text {
    font-size: 13px;
}
.gray-text {
    color: gray;
}
.strike-trough {
    text-decoration: line-through;
}
.dark-gray-color {
    color: rgb(34, 34, 34);
}

.regular-price {
    color: #0f743b;
    font-size: 16px;
}


.deal-rating{
    display: flex;
}
.number-of-ratings {
    display: flex;
    align-items: center;
}

.star-icon {
    box-sizing: border-box;
    display: block;
    height: 18px;
    margin: 0 2px;
    width: 18px;
}

.editors-choice-small-container {
    display: flex;
    padding: 0 9px;
    max-width: 1328px;
}
.editors-choice-content-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%
}
.ep-image-inner-small-top .price{
    margin-bottom: 18px;
}
.editors-small-right img {
    width: 100%;
    height: 100%;
    margin-right: 18px;
}
.editors-small-right {
    padding-right: 18px;
    position: relative;
    flex-basis: 47%;
}
.primary-editors-text-small {
    font-family: "Graphik Trial", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 40px;
    margin: 6px 0 12px;
}
.ep-image-inner-small a, .ep-image-inner-small-b a, .editors-small-right a{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.ep-image-inner-small img:hover, .ep-image-inner-small-b img:hover, .editors-small-right img:hover{
    transform: scale(1.1);
}
.ep-image-inner-small img, .ep-image-inner-small-b img, .editors-small-right img{
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s;
}
.editors-small-right img{
    height: auto;
}
.ep-image-inner-small {
    width: 100%;
    padding: 0 18px 12px 0;
    box-sizing: border-box;
    position: relative;
}
.ep-image-inner-small-b {
    width: 100%;
    padding: 0 18px 0 0;
    position: relative;
    box-sizing: border-box;
}
.editors-small-right-a > .hover-fav, .pop-up .hover-fav {
    top:10px;
    right: 10px;
    z-index: 10;
}
.ep-image-inner-small > .hover-fav, .ep-image-inner-small-b > .hover-fav{
    top: 10px;
}
.ep-image-inner-small:hover > .hover-fav button, .ep-image-inner-small-b:hover > .hover-fav button,
.editors-small-right-a:hover > .hover-fav button, .pop-up:hover .hover-fav button, .pos-relative:hover .hover-fav button{
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
}
.pos-relative .hover-fav{
    top: 10px;
    right: 10px;
}
.question-explanation-list{
    list-style: initial;
}
.question-container {
    display: inline;
}
.hover-fav:hover{
    transform: scale(1.05);
}
.price {
    position: absolute;
    bottom: 0;
    color: #2c2c2c;
    margin: 0 12px 12px 12px;
}
.price-span {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2px 8px;
    display: block;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid gray;
}

.extra-container {
    padding: 0 36px;
}
.extra-title {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.deal-card-info h3.extra-description {
    font-weight: 500;
    font-size: 1rem;
}
.deals-card-shadow {
    position: absolute;
	width:100%;
    height:100%;
    transition : transform .2s;
    border-radius: 12px;
}
.deals-card:hover .deals-card-shadow, .popular-links-c:hover .deals-card-shadow {
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transform: scale(1.05);
}
.display-contents {
    display: contents;
}
.img-container:hover{
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}
.img-container{
    overflow: clip; 
    border-radius: 12px;
    position: relative;
}




.shadow-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}


.subtle-shadow-down, .subtle-shadow-up, .subtle-shadow-all-side {
    position: absolute;
	width:100%;
    height:100%;
    border-radius: 12px;
    top: 0;
    left: 0;
    transition: transform .2s, box-shadow .3s ease-in-out;
}
.subtle-shadow-down:hover {
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}
.subtle-shadow-up:hover {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}
.subtle-shadow-all-side:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}




@media (max-width: 1200px) {
    .hero-grid-second {
        display: none;
    }
    .hero-gid-container {
        flex-basis: 40%;
    }
    .hero-content-container {
        flex-basis: 60%;
    }
    .shop-hero-container {
        padding:  0 24px;
    }
}
@media (max-width: 900px) {
  .editors-pics-section-small .editors-pics-text {
    display: none;
  }
  .editors-pics-section-small .editors-text {
    padding: 0;
  }
  .primary-editors-text-small {
    padding-left: 10px;
    font-size: 16px;
  }
  .shop-unique-button {
    transform: scale(.9);
  }
  .editors-pics-section-small .editors-choice-image-container {
    /* display: none; */
    flex-basis: 25%;
  }
  
  .editors-choice-image-container {
    flex-basis: 50%;
    max-width: 50%;
  }
  .editors-text .primary-editors-text, .editors-text p{
    padding-right: 10px;
  } 
  .featured-items-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .featured-items-list li{
    flex-basis: 30%;
    padding: 10px;  
    }
    .discover-image {
        width: auto;
    }
    .discover-popular-content li {
        margin: 18px;
        width: auto;
    }
    .categories-button {
        /* display: none; */
    }

}