body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333333;
}

.last-minute-gifts {
    text-align: center;
    background-color: #3B4ED5;
    padding: 40px 0;
    color: white;
    margin-bottom: 30px;
}

.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.gift-catagories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
    background-color: #fff;
    padding: 40px 0;
    border-radius: 20px 20px 0 0;
    color: #333333;
}

.catagory {
    text-align: center;
    width: 150px;
}

.catagory img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.catagory p {
    font-size: 0.9rem;
    font-weight: bold;
}