body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333333;
}

/* promotion */
.last-minute-gifts {
    text-align: center;
    background-color: #3B4ED5;
    padding: 40px 0;
    color: white;
    margin-bottom: 30px;
}

/* gift catagories */
.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.gift-catagories {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; */
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    background-color: #fff;
    padding: 40px 0;
    color: #333333;
}

.catagory {
    position: relative;
    top: -120px;
    text-align: center;
    width: 250px;
    transition: all 0.3s ease;
}

.catagory img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.catagory p {
    font-size: 0.9rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .gift-catagories {
        display: flex;
        flex-wrap: wrap;
    }

    .catagory {
        position: relative;
        top: -120px;
        text-align: center;
        width: 200px;
        transition: all 0.3s ease;
    }

    .catagory img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
}



/* Gift Card Section */
/* .gift-card {
    background-color: #F5F5F5;
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
    border-radius: 10px;
    color: #333333;
}

.gift-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.gift-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.gift-card .btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #3B4ED5;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
} */

.gift-card-container {
    padding: 0;
    margin: auto;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    /* height: 50%; */
}

.gift-card-text {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.gift-card-img {
    flex: 1;
    background-image: url(../../Resources/Festival/etsy_image.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 200px;
}


/* delightful download section */


.download-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: auto;
    gap: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.card {
    border: solid 1px lightgray;
    border-radius: 10px;
    width: 400px;
    height: 410px;
    /* flex: 1 1 calc(25% - 30px); */
    /* transition: all 0.3s ease; */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* grid-gap: 5px; */
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    height: 320px;
    /* width: 200px; */

}

.image img{
    border-radius: 10px;
    height: 140px;
    width: 170px;
    gap: 10px;
    object-fit: cover;
}

.image img:hover {
    opacity: 0.5;
}

.text {
    margin-top: 10px;
    text-align: center;
}

.product-title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.rating {
    font-size: 14px;
    color: #ffb400;
    margin: 0;
}

.rating span {
    font-size: 12px;
    color: gray;
}



@media (max-width: 1200px) {
    .download-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 95%;
        margin: auto;
        gap: 15px;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }
    
    .card {
        border: solid 1px lightgray;
        border-radius: 10px;
        width: 200px;
        height: 230px;
        /* flex: 1 1 calc(25% - 30px); */
        /* transition: all 0.3s ease; */
    }
    
    .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        /* grid-gap: 5px; */
        justify-content: center;
        padding: 5px;
        padding-top: 10px;
        height: 150px;
        /* width: 200px; */
    
    }
    
    .image img{
        border-radius: 10px;
        height: 70px;
        width: 90px;
        object-fit: cover;
    }
    
    .image img:hover {
        opacity: 0.5;
    }
    
    .text {
        margin-top: 10px;
        text-align: center;
    }
    
    .product-title {
        font-size: 14px;
        font-weight: bold;
        margin: 5px 0;
    }
    
    .rating {
        font-size: 14px;
        color: #ffb400;
        margin: 0;
    }
    
    .rating span {
        font-size: 12px;
        color: gray;
    }
}



/* Perfectly Timed Present Section  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);  
    grid-gap: 10px;  
    justify-content: center;
    margin: auto;
}

@media (max-width:1000px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.present-image {
    border: solid 1px lightgray;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 300px;
}

.present-image > div >img {
    width: 250px;
    height: 200px;
}

.present-image:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Gift teser section */
.gift-teset-img img{
    border-radius: 10px;

}

.gift-teset-img img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* discover more section */
.Discover-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.Discover-catagory {
    border: solid 1px lightgray;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.Discover-catagory:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-left: 40%;
}